* {
  font-family: 'Montserrat', arial, helvetica, sans-serif;
}

.author_message_arrow {
  width: 0;
  height: 0;
  background-color: transparent;
  border-width: 10px;
  border-color: #5b21b6;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.foreign_message_arrow {
  width: 0;
  height: 0;
  background-color: transparent;
  border-width: 10px;
  border-color: #404040;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
